
# config.yaml: ホスト側のファイルを利用するため不要
config.yaml

# node_modules: ファイル数が多すぎてコピーに時間がかかる
client/node_modules/

# poetry の仮想環境: Docker 上で新たに作り直すため不要
server/.venv/

# データベース: マイグレーションに失敗するのを防ぐ
server/data/*

# サードパーティーライブラリ: Docker 側でファイルを準備するため不要
server/thirdparty/
