[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "python KonomiTV.py"
dev = "python KonomiTV.py --reload"

[packages]
aerich = {file = "https://github.com/tortoise/aerich/archive/dbc0d9e7efba1509a56796a8977cb11011c469e6.zip"}
aiofiles = "*"
aiohttp = "*"
aiosqlite = "*"
ariblib = {file = "https://github.com/tsukumijima/ariblib/archive/refs/tags/v0.1.0.zip"}
biim = {file = "https://github.com/monyone/biim/archive/refs/tags/v1.10.2.zip"}
colorama = ">=0.4"
fastapi = ">=0.95.0"
fastapi-utils = ">=0.2.1"
hashids = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pillow = "*"
psutil = "*"
puremagic = "*"
py7zr = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
pywin32 = {version = ">=305", sys_platform = "== 'win32'"}
requests = "*"
rich = "*"
"ruamel.yaml" = "*"
sse-starlette = ">=1.3.3"
tortoise-orm = ">=0.19.3"
typer = "==0.9.*"
tweepy = "*"
tweepy_authlib = "*"
uvicorn = {extras = ["standard"], version = ">=0.21.1"}
uvloop = {version = ">=0.14.0,!=0.15.0,!=0.15.1", sys_platform = "!= 'win32'"}

[dev-packages]

[requires]
python_version = "3.11"
