[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "python manage.py runserver"
uvicorn = "uvicorn --port 7000 config.asgi:application"
celery = "celery -A config worker -l info -P eventlet"

[packages]
django = "*"
djangorestframework = "*"
whitenoise = "*"
uvicorn = {extras = ["standard"], version = "*"}
ariblib = "*"
celery = "*"
eventlet = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
