[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "python KonomiTV.py"
dev = "python KonomiTV.py --reload"

[packages]
aerich = {file = "https://github.com/tsukumijima/aerich/releases/download/v0.7.1-patch/aerich-0.7.2-py3-none-any.whl"}
aiofiles = "*"
aiohttp = "*"
aiosqlite = "*"
ariblib = {file = "https://github.com/tsukumijima/ariblib/releases/download/v0.1.0/ariblib-0.1.0-py3-none-any.whl"}
biim = {file = "https://github.com/tsukumijima/biim/releases/download/v1.10.2-patch/biim-1.10.2-py3-none-any.whl"}
colorama = ">=0.4"
elevate = "*"
fastapi = ">=0.100.0"
fastapi-restful = {file = "https://github.com/tsukumijima/FastAPI-RESTful/releases/download/V0.4.5-patch/fastapi_restful-0.4.5-py3-none-any.whl"}
hashids = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pillow = "*"
psutil = "*"
puremagic = "*"
py7zr = "*"
pydantic = ">=2.0.2"
pymediainfo = "==6.0.1"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
pywin32 = {version = ">=305", sys_platform = "== 'win32'"}
requests = "*"
rich = "*"
"ruamel.yaml" = "*"
sse-starlette = ">=1.3.3"
tortoise-orm = ">=0.19.3"
typer = "==0.9.*"
tweepy = "*"
tweepy_authlib = "*"
tzdata = "*"
uvicorn = {extras = ["standard"], version = ">=0.21.1"}
uvloop = {version = ">=0.14.0,!=0.15.0,!=0.15.1", sys_platform = "!= 'win32'"}
watchfiles = "*"

[dev-packages]

[requires]
python_version = "3.11"
