[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python KonomiTV-Installer.py"
build-windows = "pyinstaller --onefile --uac-admin --icon=KonomiTV-Installer.ico KonomiTV-Installer.py"
build-linux = "pyinstaller --onefile --name=KonomiTV-Installer.elf KonomiTV-Installer.py"

[packages]
distro = "*"
elevate = "*"
emoji = "*"
ifaddr = "*"
psutil = "*"
py7zr = "*"
pyinstaller_windows_mybuild = {file = "https://github.com/tsukumijima/Pyinstaller-Builds/raw/gh-pages/x86_64/pyinstaller-5.10.1-py3-none-any.whl", sys_platform = "== 'win32'"}
pyinstaller = {version = "==5.10.1", sys_platform = "!= 'win32'"}
requests = "*"
rich = "*"
"ruamel.yaml" = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.11"
