[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python KonomiTV-Installer.py"
build-windows = "pyinstaller --onefile --uac-admin --icon=KonomiTV-Installer.ico KonomiTV-Installer.py"
build-linux = "pyinstaller --onefile --name=KonomiTV-Installer.elf KonomiTV-Installer.py"

[packages]
aiofiles = "*"
distro = "*"
elevate = "*"
emoji = "*"
ifaddr = "*"
psutil = "*"
py7zr = "*"
# For the Windows version only, to prevent virus detection, when the installer is built by CI,
# it is forced to replace the PyInstaller with my own build.
# When updating PyInstaller, all versions listed in the tsukumijima/Pyinstaller-Builds/.github/workflows/build.yml
# and in KonomiTV/.github/workflows/build_installer.yaml must be updated.
# ref: https://github.com/tsukumijima/Pyinstaller-Builds/blob/master/.github/workflows/build.yml
pyinstaller = "==5.13.0"
requests = "*"
rich = "*"
"ruamel.yaml" = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.11"
