[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python KonomiTV-Installer.py"
build-windows = "nuitka --mingw64 --follow-imports --onefile --windows-uac-admin --windows-icon-from-ico='KonomiTV-Installer.ico' KonomiTV-Installer.py"

[packages]
rich = "*"
nuitka = "*"
requests = "*"
elevate = "*"
zstandard = "*"

[dev-packages]

[requires]
python_version = "3.10"
